@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section featured {
    We are showing the latest @Model.Count() reviews
}

@foreach (var item in Model)
{
    <partial name="_Review" model="item"> </partial>

}



<p>
    <a asp-action="Create">Create new</a>
</p>