/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #14D600;
    text-decoration: none;
}


header li {
    border-top: solid 3px #FFFFFF;
}
    header li:hover {
        background-color: lightgray;
        border-top: solid 3px #00EFFF;
        border-radius: 17px;
        transition: 300ms ease-in;
    }

.btn-primary {
    color: #14D600;
    background-color: #CECECE;
    border-color: #1161ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #CECECE;
    background-color: #CECECE;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #E8E8E8;
}
.footer {
    background-color: #CECECE;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
