@model X.PagedList.IPagedList<RestaurantListViewModel>
@{
	ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="get"
						data-otf-ajax="true" data-otf-target="#restaurantList">
	<div class="form-group">
					<input class="form-control" type="search" name="searchTerm" value="" data-otf-autocomplete="@Url.Action("Autocomplete")" />
				<input class="btn btn-dark" type="submit" value="Search By Name" />
	</div>
</form>


<partial name="_Restaurants" model="Model" />