@model IEnumerable<Restaurant>
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="get" data-otf-ajax="true" data-otf-target="#restaurantList">
    <div class="fomr-group">
        <div class="ui-autocomplete">
            <input class="form-control" type="search" name="searchTerm" value="" data-otf-autocomplete="@Url.Action("Autocomplete")" />
            <input class="btn btn-dark" type="submit" value="Search By Name" />

        </div>
        

    </div>
    
</form>

@*@using (Html.AjaxBeginForm(new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "restaurantList"
            }))
            {
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
}*@

<parital name= "_Restaurant" model="Model" />